* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(222, 245, 244);
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color:rgb(0, 27, 0); 
}

header {
    background-image: url('../images/istockphoto-144354164-1024x1024.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 26.5rem;
    /* padding-bottom: 15rem; */
    background-position:center;
    z-index: 0;
    background-attachment: fixed;
    text-align: center;
    color:rgb(0, 27, 0);
    font-size: 2rem;
    
}

header h1 {
    margin-top: 10rem;  
    text-shadow: 2px 2px beige;
}

header h2 {
    text-shadow: 2px 2px #000000;
}

nav {
    overflow: hidden;
    background-color: rgb(0, 27, 0);
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 100;
    width: 100%;
    padding: 1rem;
}

nav a {
    display: block;
    text-decoration: none;
    float:inline-start;
    padding: 15px 50px;
    color: beige;
}

nav a:hover {
    background-color: beige;
    color: rgb(0, 27, 0);
}

main {
    padding: 3rem 0 3rem 0;
}


main > h1 {
    text-align: center;
}

footer {
    background-color: rgb(0, 27, 0);
    text-align: center;
    padding: 5rem;
    color: beige;
}

table, th, td {
    /* border: 1px solid black; */
    border-collapse: collapse;
    padding: 1rem;
    box-shadow: 5px 5px 5px lightblue; 
}


thead {
    background-color: rgb(0, 27, 0);
    color: beige;
}

td {
    background-color: rgb(179, 209, 209);
}

table img {
    padding-bottom: 1rem;
    max-width:fit-content
}

table img:hover {
    cursor: pointer;
    transform: scale(2.5);
    transition: 0.3s;
}

td > img {
    width: 100%;
}

a {
    text-decoration: none;
}

li {
    padding: 0.5rem;
    list-style-type: none;
}


#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3rem 5rem;
}

#container > div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15rem 0 0 0;
}

#container2 > div {
    width: 50%;
}

#container2 > div img {
    width: 45%;
}

#container > div img {
    width: 50%;
}

#container > a{
    margin: auto;
}

a > img {
    width: 130px;
    height: 150px;
    object-fit: cover;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px lightblue; 
}

#container > a > img:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: 0.3s;
}

#container > .pics {
    width: 80%;
    height: 80%;
    border-radius: 0;
    margin: auto;
}


.bloque {
    display: flex;
    align-items: center;
    justify-content: center;   
    padding: 3rem 5rem;
    text-align: left;
}


.bloque2 {
    text-align: center;
}

.bloque > h2 {
    padding-right: 5rem;
}

.bloque div {
    padding: 3rem 0 0 0;
    position: relative;
}

.pag_oficial:hover {
    background-image: url('../images/pagina_oficial.jpg');
    transform: scale(1.3);
}

.natgeo:hover {
    background-image: url('../images/natgeo.jpg');
    transform: scale(1.3);
}

.mondabay:hover {
    background-image: url('../images/mongabay.jpg');
    transform: scale(1.3);
}

.bloque div:hover {
    transition: 0.3s;
    background-position:center;
    background-size: cover;
    width: 15rem;
    height: 10rem;
    border-radius: 5px;
}

.bloque div:hover a > .capa {
    opacity: 1;
    visibility: visible;
    color: beige;
}

.bloque div:hover li {
    visibility: hidden;
}


.bloque  div  a > .capa {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background: rgba(11,103,123,0.6);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}


.bloque > img {
    width: 30%;
    margin: 0 10px;
    box-shadow: 5px 5px 5px lightblue; 
}

.volver {
    padding: 0%;
    text-align: center;
}

.section-form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(191, 231, 231);
    margin: 3rem 10rem;
    padding: 2rem;
    border-radius: 5px;
    text-align:end;
    box-shadow: 5px 5px 5px lightblue; 
}

#section-map{
    position: relative;
    overflow: hidden;
}

#section-map::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;  
    padding: 3rem 5rem;
    background-size: cover;
    background-image: url('../images/mapa_indo.jpg');
    opacity: 1;
    z-index: 0;
}

#section-map::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgb(225, 240, 161);
    z-index: 1;
    opacity: 0.7;
}

#section-map > .bloque {
    position:  relative;
    z-index: 2;
    color: rgb(171, 209, 4);
}

form {
    padding: 2rem;
}

form > input{
    margin: 1rem;
}

#btn {
    background-color:rgb(0, 16, 39);
    color: beige;
    width: 8rem;
    height: 3rem;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 5px 5px 5px lightblue; 
}

#btn:hover {
    background-color: rgb(125, 195, 223);
    color: rgb(0, 16, 39);
    cursor: pointer;
    transform: scale(1.3);
    transition: 0.3s;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(0, 27, 0);
    border-radius: 4px;
    background-color: rgb(201, 244, 250);
    color: white;
}

div h2, li {
    background-color: black;
    margin: auto;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
}











